.plan_nav{
    position: relative ;
    
     z-index: 999;
     width: 100%;
 }

 .courses-text{
    margin-top: 50px;
    margin-left: 40px;
 }

 .icons{
     margin-top: 50px;
 }

 .share i{
     font-size: 25px;
 }

 .course-video {
     position: relative;
     bottom: -30px;
    
 }

 .course-list {
    position: relative;
    bottom: -30px;

    width: 100%;
    height: 460px;
   
   
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
    overflow-y: scroll;
     padding: 5px;
}

 .icon-redus{
     font-size: 25px;
     color: #dc3545;
     border: solid 1px #dc3545;
     border-radius: 50%;
     padding: 7px 7px;
     cursor: pointer;
    

 }

 .icon-redus:hover{
    color: #ffffff;
    background-color:#dc3545 ;
 }

 .course-info h5 {
    color: #dc3545;
   
 }


 .play-icon {
     font-size: 28px;
 }

 .video-text{
     color: #0286c7;
 }



 .episode-name{
     cursor: pointer;
 }

 .Video-Title{
     font-weight: 700;
 }

 .progress{
     border: solid 1px black;
     border-radius: 10px;
     padding: 0px;
 }


 .award-icon{
     font-size:25px ; 
     
 }