<!--------------------------------------- [ Header start ]----------------------->
<header class="bg-nav">
   
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-9 col-md-9 slogin  ">
                <h2 class=" mt-4 pt-5  ml-2">Quality Education is the best investment for your Future!</h2>

                <button class=" btn px-4 btn-more  mt-5 brdr-raduise " [routerLink]="'/about-us'" >Know More</button>
            </div>

        </div>
    </div>

    <div class="header-layer">
        <div class="icons ">

            <a href="https://www.youtube.com/channel/UC2IaEDhnP0HDcOyNJLtxIdg"><i class="fab fa-youtube-square"></i></a>
            <a href="https://www.facebook.com/PlanBCompanyegypt"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/Plan_B_2017"><i class="fab fa-twitter-square"></i></a>
            <a href="https://www.instagram.com/planbcompany"><i class="fab fa-instagram-square"></i></a>

        </div>
    
    </div>
    


</header>





<!--------------------------------------- [ Header End ]----------------------->



<!--------------------------------------- [ Courses Slider Componenet  Start ]----------------------->
<section class="courseSection">


<app-category-courses></app-category-courses>

</section>
<!--------------------------------------- [ Courses Slider Componenet End ]----------------------->




<!--------------------------------------- [ join-course start ]----------------------->
<div class="join-course d-flex justify-content-center ">

  
<img class="img-fluid" src="../../../assets/imgs/section4BG.png" alt="">

    <div class=" m-auto offers  ">
        <div class="offers-text text-center">

        
      <h6 >{{GetOffer}}</h6>
    

      <button class="join-course-btn  mt-5 px-5 py-3  " [routerLink]="'/courses'" >Join Course</button>
    </div>
    </div>

  </div>

  <!--------------------------------------- [ join-course end ]----------------------->

  <app-our-talks></app-our-talks>

  <app-instractores-slider></app-instractores-slider>


  <app-gallery-slider></app-gallery-slider>



    <!--------------------------------------- [ partners Start  ]----------------------->
<section class="container" >
<img class="img-fluid" src="../../../assets/imgs/partners.png" alt="">
</section>
    
    
      <!--------------------------------------- [ partners end  ]----------------------->


   