<!--------------------------------------- [ footer start  ]----------------------->
<footer class="w-100  py-1">
    <div class="container">

        <h5>Important Links</h5>

        <div class="row ">


            <div class="col-lg-2 col-md-6 col-sm-6 mt-3">
                <h5><a class="i-link" routerLink="courses"  translate> Courses</a></h5>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6 mt-3">
                <h5><a class="i-link" routerLink="trainers"> Our Trainers</a></h5>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6 mt-3">
                <h5><a class="i-link" routerLink="diploma"> Diploma</a></h5>
            </div>


            <div class="col-lg-2 col-md-6 col-sm-6 mt-3">
                <h5><a class="i-link"routerLink="events" > Events</a></h5>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6 mt-3">
                <h5><a class="i-link" routerLink="about-us"> About Us</a></h5>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6 mt-3">
                <h5><a class="i-link" routerLink="contact-us"> Contact Us</a></h5>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 mt-3">
                <h5> <i class="fas fa-phone-alt mr-1"></i> <span>0123456789</span></h5>
            </div>
           
            <div class="col-lg-4 col-md-6 col-sm-6 mt-3">
                <h5> <i class="far fa-envelope mr-1"></i> <span>info@plan-b.com</span></h5>
            </div>
           
            




          

            <div class="col-lg-6 col-md-6 col-sm-6 mt-3 text-right ">
                <div class="d-line iconsss ">

                    <a href="https://www.youtube.com/channel/UC2IaEDhnP0HDcOyNJLtxIdg"><i class="fab fa-youtube-square"></i></a>
                    <a href="https://www.facebook.com/PlanBCompanyegypt"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://twitter.com/Plan_B_2017"><i class="fab fa-twitter-square"></i></a>
                    <a href="https://www.instagram.com/planbcompany/"><i class="fab fa-instagram-square"></i></a>
        
                </div>
            </div>

          
       

        </div>




   
    </div>


</footer>
<!--------------------------------------- [ footer end  ]----------------------->