<!--------------------------------------- [ singleEvent start ]----------------------->
<div class="Course-Title bg-nav mb-5" >


<!--------------------------------------- [ singleEvent detials start ]----------------------->

    <div class="container">
      <div class="row py-2">
        <div class="col-lg-6">
          <div class="courses-text pl-3" >
            <h1>{{ eventData.name}}</h1>
            <p> {{ eventData.description}}</p>

            <div class=" d-flex share">
              <i class="far fa-calendar-alt text-danger mr-3"></i> <span class="text-danger">{{eventData.eventDate}}</span>
            </div>

          </div>
        </div>

        <div class="col-lg-6 course-video py-2 pl-3 ">
          <div>
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/wfOp0lsCXAY" frameborder="0"
              allowfullscreen></iframe>
          </div>

        </div>

      </div>
    </div>

  </div>
<!--------------------------------------- [ singleEvent detials end ]----------------------->
  

<!--------------------------------------- [ singleEvent video gallery  start ]----------------------->
  <div class="container">
    <h2><strong>Videos</strong></h2>
    <div class="row">

      <div class="col-lg-4">
        <iframe width="100%" height="300" src="https://www.youtube.com/embed/MJZS2vXZIXE" frameborder="0"
          allowfullscreen></iframe>
      </div>

      <div class="col-lg-4">
        <iframe width="100%" height="300" src="https://www.youtube.com/embed/MJZS2vXZIXE" frameborder="0"
          allowfullscreen></iframe>
      </div>


      <div class="col-lg-4">
        <iframe width="100%" height="300" src="https://www.youtube.com/embed/MJZS2vXZIXE" frameborder="0"
          allowfullscreen></iframe>
      </div>


    </div>
  </div>


<!--------------------------------------- [ singleEvent video gallery  end ]----------------------->


<!--------------------------------------- [ singleEvent photo gallery  start ]----------------------->

  <div class="container my-3 ">
    <h2><strong>Photos</strong></h2>
    <div class="row">

      <div class="col-lg-6">
        <img class="img-fluid" src="../../../assets\imgs\events/1.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6">
            <img class="img-fluid m-1" src="../../../assets\imgs\events/1.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <img class="img-fluid m-1" src="../../../assets\imgs\events/3.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <img class="img-fluid m-1" src="../../../assets\imgs\events/4.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <img class="img-fluid m-1" src="../../../assets\imgs\events/5.jpg" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container mb-4">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid  " src="../../../assets\imgs\events/7.jpg" alt="">
      </div>

      <div class="col-lg-6">
        <img class="img-fluid " src="../../../assets\imgs\events/3.jpg" alt="">
      </div>

    </div>

<!--------------------------------------- [ singleEvent photo gallery  end ]----------------------->

  </div>
<!--------------------------------------- [ singleEvent End ]----------------------->