
  <!--------------------------------------- [ about us Start ]----------------------->
  <div class="books bg-nav">

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class=" text-danger "> <strong> About Us</strong></h2>
          

          <p>
{{aboutShortDesc}}
          </p>

          <p>
          {{aboutFullDesc}}
          </p>


        

          
        </div>

        <div class="col-lg-6 pt-5 text-center">
          <iframe class="about-frame" src="https://www.youtube.com/embed/fdG3EPQLhd4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
       
        </div>
      </div>
    </div>


  </div>



  <!-- details card section starts from here -->
<section class="details-card">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <div class="card-content">
                  <div class="card-img">
                      <img src="../../../assets/imgs/vision.PNG" alt="">
                      <span><h4>Vision</h4></span>
                  </div>
                  <div class="card-desc">
                      
                    <p>{{aboutVision}}</p>                           
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card-content">
                  <div class="card-img">
                      <img src="../../../assets/imgs/mission.PNG" alt="">
                      <span><h4>Mission</h4></span>
                  </div>
                  <div class="card-desc">
                      
                    <p>{{aboutMission}}</p>                           
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card-content">
                  <div class="card-img">
                      <img src="../../../assets/imgs/goal.PNG" alt="">
                      <span><h4>Goals</h4></span>
                  </div>
                  <div class="card-desc">
                    
                      <p>{{aboutGoal}}</p>
                            
                  </div>
              </div>
          </div>



          <div class="col-md-3">
            <div class="card-content">
                <div class="card-img">
                    <img src="../../../assets/imgs/valu.PNG" alt="">
                    <span><h4>Value</h4></span>
                </div>
                <div class="card-desc">
                    
                    
                    
                           <p>{{aboutValue}}</p>
                    
                        
                    

                   
                    
                         
                </div>
            </div>
        </div>
      </div>
  </div>
</section>

  <!--------------------------------------- [ about us End ]----------------------->

  