
<div class="container-fluid talks-sec w-80 ">
    <h1 class="my-3">Our Talks</h1>
    <owl-carousel [options]="SlideOptions"  [carouselClasses]="['owl-theme', 'sliding']">



        <div class="item  text-center" >
            <div class="main mx-2 ">
                <iframe class="m-3" width="220" height="220" src="https://www.youtube.com/embed/MJZS2vXZIXE" frameborder="0"
                allowfullscreen>
              </iframe>
            </div>
        </div>


        <div class="item  text-center" >
            <div class="main mx-2 ">
                <iframe class="m-3" src="https://www.youtube.com/embed/BEZhaoiE8Ys" allowfullscreen="" width="220" height="220" frameborder="0">
                </iframe>
            </div>
        </div>

        <div class="item  text-center" >
            <div class="main mx-2 ">
                <iframe class="m-3" width="220" height="220" src="https://www.youtube.com/embed/fdG3EPQLhd4" frameborder="0"
                allowfullscreen>
              </iframe>
            </div>
        </div>




        <div class="item  text-center" >
            <div class="main mx-2 ">
                <iframe class="m-3" width="220" height="220" src="https://www.youtube.com/embed/bVy7mYTMM0M" frameborder="0"
                allowfullscreen>
              </iframe>
            </div>
        </div>



        <div class="item  text-center" >
            <div class="main mx-2 ">
                <iframe class="m-3" width="220" height="220" src="https://www.youtube.com/embed/Dywd4xfr5vo" frameborder="0"
                allowfullscreen>
              </iframe>
            </div>
        </div>




        <div class="item  text-center" >
            <div class="main mx-2 ">
                <iframe class="m-3" width="220" height="220" src="https://www.youtube.com/embed/h0hh-7S7MZA" frameborder="0"
                allowfullscreen>
              </iframe>
            </div>
        </div>



     

        



    </owl-carousel>


</div>